/*!
 * Start Bootstrap - Shop Homepage HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control {
  top: 50%;
  width: 20px;
}

.carousel-control.left {
  background-image: none;
  left: 10px;
}
.carousel-control.right {
  background-image: none;
  right: 10px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 80px;
    overflow: hidden;
    border-top: 1px solid #ccc;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}
.navbar-brand>img {
  display: inline;
  margin-right: 10px;
}
.navbar-brand span {
  color: rgb(255, 193, 7);
}
@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding-top: 20px;
  }
}
.h4, h4 {
  font-size: 15px;
}

.rateit-cool-product {
    padding: 10px;
    color: #d17581;
}

.comment_numbers {
	padding-left: 10px;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

td {
	padding: 4px;
}
td.label {
	color: #000 !important;
}
